.addBtn{
    padding:10px 20px;
    border: 2px solid red;
    margin-left: 1px;
    cursor: pointer;
}

.deleteBtn{
    padding:10px 10px;
    cursor: pointer;
}

.deleteBtn:hover{
    background-color: black;
    color: white;
    border-radius: 5px;
}

input{
    padding:10px 100px 10px 10px;
    border: 2px solid red;
}

.display{
    text-align: left;
    margin: auto;
}

.entireLayout{
    text-align: center;
}